body
{
    color:#fff8d8 ; background-image:url(imgs/sugar%20ceral.jpg); background-repeat:repeat-x; background-color: #072e74; 
}
td
{
    border: 3px solid; padding: 20px; font-weight: 1000; color:#fff8d8 ;
}
a
{
    color: #fff8d8 
}
h1
{
  color:#6db9d5; background-color: #072e74;
}
table
{
    background-color:#072e74
}
a:hover
{
    color: aquamarine
}
.top
{
    background-color:aquamarine; 
}